@model AlbumRegister.Models.Album




<h2 style="text-align: center; margin-top: 8rem;">Featured Album</h2>
<div class="card mx-auto" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@Model.Title</h5>
    <h6 class="card-subtitle mb-2 text-muted">@Model.Artist</h6>
    <p class="card-text">Released: @Model.ReleaseDate.ToShortDateString()</p>
    <a asp-controller="Home" asp-action="Details" asp-route-id="@Model.AlbumId" class="card-link">Details</a>
  </div>
</div>
